.card{
    width: 200px;
    height: auto;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px black;
    transition: 1s;
    overflow: hidden;
}
img{
    /* height: 100%; */
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.desc{
    padding: 0px 2px 0px 2px ;
}
.card:hover{
    box-shadow: 2px 8px 16px black;

}