#container{
    height: 400px;
    width: 400px;
    border: 2px solid aqua;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* align-content: space-around ; */


}
.inner{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: gray;
    font-size: 50px;
    border-radius: 10px;
    text-align: center;
}
#outer{
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid aqua;
    border-radius: 10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-content: space-around;
}
.inner2{
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;
}