#box{
    height: 150px;
    width: 300px;
    background-color: gray;
    border: 5px dotted black;
    /* margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em; */
    margin: 20px 1em 40px 2em;
    padding: 1em;
}
.second{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px black solid;
    border-radius: 50%;
    display: inline-block;
}
#list li{
    display: inline;
}