h1{
    text-align: center;
}
#container{
    height: 500px;
    width: 80%; 
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-content: baseline;
}
#container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font: 1.5em;
}